@import url(./fonts.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    font-family: 'Playfair';
    user-select: none;
}

.title{
    font-weight: 400;
font-size: 50px;
line-height: 67px;
text-align:center;
color: #000000;
}

.desc{
    font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #666666;
max-width: 496px;
width: 100%;
margin: 0 auto;
}
.header__nav {
    padding: 25px 0;
    position: relative;
}

.header__nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    column-gap: 40px;
}

.header__link {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;
}

.header__form {
    display: flex;
    column-gap: 4px;
}

.header__input {
    max-width: 180px;
    width: 100%;
    height: 28px;
    border: 1px solid #41A28E;
    padding: 6px 12px;
    outline: none;
}

.header__input::placeholder {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #4B4848;
}

.header__btn {
    background: #41A28E;
    width: 29px;
    height: 29px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__dropdown {
    position: absolute;
    top: 60px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    max-width: 160px;
    width: 100%;
    opacity: 0;
    z-index: -1;
}

.header__link:focus~.header__dropdown {
    opacity: 1;
    z-index: 22;
}

.header__dropdown-link {
    padding: 12px 30px;
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;
    border-bottom: 1px solid #E5E5E5;
    transition: 500ms;
}

.header__dropdown li:nth-child(3) .header__dropdown-link {
    border-bottom: none;
}

.header__dropdown-link:hover {
    background-color: #41A28E;
    color: #FFFFFF;
}

.header__banner {
    background: url(../img/banner.jpg)no-repeat center / cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__title {
    max-width: 630px;
    width: 100%;
    min-height: 100px;
    font-weight: 400;
    font-size: 50px;
    line-height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.7);
    margin-bottom: 30px;
    text-transform: capitalize;
}

.header__desc{
    font-weight: 400;
font-size: 22px;
line-height: 29px;
color: #FFFFFF;
text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.38);
text-transform: capitalize;
margin-bottom: 50px;
}

.banner__btn{
font-weight: 400;
font-size: 12px;
line-height: 16px;
display: flex;
align-items: center;
color: #000000;
background-color: #FFFFFF;
padding: 22px 35px;
transition: 500ms;
}

.banner__btn:hover{
    background-color: 
    #41A28E;
    color: #FFFFFF;
}

.ecomm{
    padding: 48px 0 72px 0;
}
.ecomm__item{
    max-width: 255px;
    width: 100%;
    min-height: 170px;
    position: relative;
    overflow: hidden;
}
.ecomm__item-img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ecomm__span{
position: absolute;
background-color: rgba(75, 72, 72, 0.7);
height: 38px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
bottom: 0px;
font-weight: 400;
font-size: 25px;
line-height: 33px;
color: #FFFFFF;
text-transform: capitalize;
transform: translateY(38px);
transition: 500ms;
}

.ecomm__item:hover .ecomm__span{
    transform: translateY(0);
}
.ecomm__cards{
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
}

.ecomm__title{
    margin-bottom: 18px;
}

.collection{
    min-height: 404px;
    background: url(../img/collections.jpg) no-repeat
    center/cover fixed;
    display: flex;
}
.collection__desc{
    font-weight: 400;
font-size: 20px;
line-height: 27px;
color: #FFFFFF;
margin-bottom: 3px;
text-transform: capitalize;
}

.collection__title{
    color: #FFFFFF;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 22px;
}
.collection__btn{
text-transform: uppercase;
font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #000000;
max-width: 190px;
width: 100%;
text-align: center;
padding: 23px 0;
background-color: #FFFFFF;
display: block;
transition: 500ms;
}

.collection__btn:hover{
    background-color: #41A28E;
    color: #FFFFFF;
}

.collection .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.custom{
    padding: 50px 0;
}

.custom__title{
    text-transform: capitalize;
    margin-bottom: 18px;
}

.custom__desc{
    margin-bottom: 69px;
}
.custom_item{
    max-width: 255px;
    width: 100%;
    
}

.custom__block{
    width: 255px;
    height: 340px;
    position: relative;
    overflow: hidden;
    margin-bottom: 43px;
}

.custom__img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.custom__span{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    background-color: rgba(75, 72, 72, 0.7);
    width: 100%;
    transform: translateY(40px);
    transition: 500ms;
    padding: 10px 0;
}

.custom__block:hover .custom__span{
    transform: translateY(0);
}

.custom__list{
display: flex;
justify-content: space-between;
}
.list1{
    column-gap: 14px;
}
.list2{
    column-gap: 26px;
}

.custom__link{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF; 
}

.custom__cards{
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.span-sale{
    font-weight: 400;
font-size: 18px;
line-height: 24px;
font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
color: #666666;
}

.custom__item-title{
    font-weight: 400;
font-size: 22px;
line-height: 29px;
color: #000000;
}

.custom__price{
    font-weight: 400;
font-size: 18px;
line-height: 24px;
font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
color: #000000;
}

.block-sale{
    font-family: 'Roboto';
    position: absolute;
    font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
color: #FFFFFF;
text-transform: uppercase;
padding: 10px 18px;
background-color: rgba(75, 72, 72, 0.7);
}

.footer__top{
    background-color: #000000;
}

.footer__top .container{
    padding: 36px 0;
    display: flex;
    justify-content: space-between;
}
.footer__box1{
    max-width: 255px;
    width: 100%;
}

.box1__p{
    font-weight: 400;
font-size: 24px;
line-height: 32px;
color: #FFFFFF;
padding-bottom: 40px;
}

.box1__list{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.box1__link{
    font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
display: flex;
column-gap: 10px;
}
.form_p{
    font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
margin: 20px 0;
}

.footer__box4{
display: flex;
flex-direction: column;
}
.cards__list{
    display: flex;
    justify-content: space-between;
}

input{
    height: 44px;
    width: 200px;
    border: none;
}
button{
    border: none;
    padding: 11.7px 9px 13.6px;
    margin-left: -3.9px;
    background-color:
    #41A28E ;
    font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
}

.footer__bot{
    background-color: #121212;
}
.footer__bot-p{
    font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #666666;
padding: 40px 0;
display: flex;
justify-content: center;
column-gap: 3px;
}
.footer_span{
    font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
color: #666666;
text-shadow: 0px 0px 4px #E52D27;
}
.footer__box1-form{
    width: 100%;
}